@font-face {
  font-family: 'cheltenham-300';
  src:font-url('cheltenham-300.eot');
  src:font-url('cheltenham-300.eot?iefix') format('eot'),
       font-url('cheltenham-300.woff') format('woff'),
       font-url('cheltenham-300.ttf') format('truetype'),
       font-url('cheltenham-300.svg#webfont') format('svg');
       font-weight: normal;
       font-style: normal;
}


@font-face {
  font-family: 'Cheltenham-BT';
  src:font-url('Cheltenham-BT.eot');
  src:font-url('Cheltenham-BT.eot?iefix') format('eot'),
       font-url('Cheltenham-BT.woff') format('woff'),
       font-url('Cheltenham-BT.ttf') format('truetype'),
       font-url('Cheltenham-BT.svg#webfont') format('svg');
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'cheltenham-500';
  src:font-url('cheltenham-500.eot');
  src:font-url('cheltenham-500.eot?iefix') format('eot'),
       font-url('cheltenham-500.woff') format('woff'),
       font-url('cheltenham-500.ttf') format('truetype'),
       font-url('cheltenham-500.svg#webfont') format('svg');
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'imperial-600';
  src:font-url('imperial-600.eot');
  src:font-url('imperial-600.eot?iefix') format('eot'),
       font-url('imperial-600.woff') format('woff'),
       font-url('imperial-600.ttf') format('truetype'),
       font-url('imperial-600.svg#webfont') format('svg');
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'karnak-400';
  src:font-url('karnak-400.eot');
  src:font-url('karnak-400.eot?iefix') format('eot'),
       font-url('karnak-400.woff') format('woff'),
       font-url('karnak-400.ttf') format('truetype'),
       font-url('karnak-400.svg#webfont') format('svg');
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'franklin-500';
  src:font-url('franklin-500.eot');
  src:font-url('franklin-500.eot?iefix') format('eot'),
       font-url('franklin-500.woff') format('woff'),
       font-url('franklin-500.ttf') format('truetype'),
       font-url('franklin-500.svg#webfont') format('svg');
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'franklin-300';
  src:font-url('franklin-300.eot');
  src:font-url('franklin-300.eot?iefix') format('eot'),
       font-url('franklin-300.woff') format('woff'),
       font-url('franklin-300.ttf') format('truetype'),
       font-url('franklin-300.svg#webfont') format('svg');
       font-weight: lighter;
       font-style: normal;
}

@font-face {
  font-family: 'franklin-300-italic';
  src: font-url('franklin-300-italic.eot');
  src: font-url('franklin-300-italic.eot?iefix') format('eot'),
       font-url('franklin-300-italic.woff') format('woff'),
       font-url('franklin-300-italic.ttf') format('truetype'),
       font-url('franklin-300-italic.svg#webfont') format('svg');
       font-weight: lighter;
       font-style: normal;
}

@font-face {
  font-family: 'franklin-700';
  src:font-url('franklin-700.eot');
  src:font-url('franklin-700.eot?iefix') format('eot'),
       font-url('franklin-700.woff') format('woff'),
       font-url('franklin-700.ttf') format('truetype'),
       font-url('franklin-700.svg#webfont') format('svg');
       font-weight: normal;
       font-style: normal;
}
