.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 25px;
  font:15px 'cheltenham-300',Georgia,"Times New Roman",serif;
  border-radius: 10px;
}

.modal-child h2 {
  text-align: center;
}

.modal-child a {
  cursor: pointer;
  text-decoration: underline;
}

.login-error {
  color: #e33d26;
}

.login-form-box {
  font-size: 15px;
  font-weight: 500;
  color: #222;
  font-family: 'franklin-500',Arial,Helvetica,sans-serif;
}

.login-form-box > input{
  font-size: 15px;
  font-weight: 500;
  color: #222;
  font-family: 'franklin-500',Arial,Helvetica,sans-serif;
  margin: 10px 0px
}

.login-input {
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 2.5rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: normal;
  color: rgb(0, 0, 0);
  background-color: rgb(236, 236, 236);
  box-sizing: border-box;
  -webkit-appearance: none;
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.07) 0.125em 0.1875em 0.1875em inset;
  padding: 0px 0.5rem;
  border-radius: 10px;
  outline: none;
  overflow: hidden;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  transition: box-shadow 200ms linear 0s;
}

.session-submit {
  -webkit-font-smoothing: antialiased;
  position: relative;
  width: 100%;
  height: 2.5em;
  line-height: 2.375em;
  font-family: "franklin-500", helvetica, arial, sans-serif;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-image: none;
  color: rgb(255, 255, 255);
  background-color: rgb(227, 61, 38);
  margin-bottom: 10px;
  padding: 0px;
  border-width: 0.0625em;
  border-style: solid;
  border-image: initial;
  border-radius: 0.2em;
  border-color: rgb(227, 61, 38);
  transition: all 0.15s ease-in 0s;
}

.demo {
  background-color: black;
  border-color: black
}

.close-x {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.remove-confirm {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  min-height: 100px;
  width: 475px;
  padding: 25px;
  font:18px 'franklin-500',Georgia,"Times New Roman",serif;
  border-radius: 10px;
}

#bold-recipe {
  font-family: 'franklin-700';
}

.btn-stn {
  display: inline-block;
  padding: 10px 30px;
  text-align: center;
  font-size: 0.8em;
  font-family: 'franklin-300',Arial,Helvetica,sans-serif;
  border-radius: 3px;
  cursor: pointer;
}

.unsave-btns {
  text-align: center;
  padding-top: 5%;
}

.unsave-cancel-btn {
  background: 0 0;
  color: #222;
  border: 1px solid #222;
}

.unsave-confirm-btn {
  background: #e33d26;
  color: #fff;
  border: 1px solid #e33d26;
  margin-bottom: 0;
  margin-left: 20px;
}

.unsave-cancel-btn:hover {
  background: #222;
  color: #fff;
}

.unsave-confirm-btn:hover {
  background: #be1e08;
  border-color: #be1e08;
}