/* Main Nav */
.main-nav {
  background-color: #fff;
  border-bottom: 1px solid #eff1f3;
  box-sizing: border-box;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  font-family: 'franklin-300',Arial;
  color: #666666;
}

.logo-wrapper {
  display: block;
  float: left;
  padding-left: 16px;
  position: relative;
  padding: 18px 15px 1px 10px;
  border-right: 1px solid #eff1f3;
}

.logo {
  width: 211px;
}

/* Main Nav - Search */
.search-bar {
  left: 238px;
  position: absolute;
  width: 34%;
  z-index:2;
  background-color:#fff;
  max-height: 64px;
}


.search-input {
  width: 100%;
  padding: 26px 20px 14px 18.5px;
  border: none;
  max-height: 42px;
  font-family: 'franklin-300', Arial;
  font-size: 20px;
  outline: none;
}

.search-thumb{
  height: 45px;
  width: 67px;
  vertical-align: middle;
}
/* Main Nav - Right Nav */

.search-result-container{
  background-color: #f2f3ef;
  width: 600px;
  margin-top: -1px;
  margin-left: -1px;
  border-radius: 3px;
}

.search-result {
  cursor: pointer;
  height: 50px;
  padding: 0px 0 0px 19px;
  font-size: 20px;
  padding: 8px 17px;
}

.result-text {
  padding-left: 9px;
  font-family: 'franklin-300',Arial,Helvetica,sans-serif;
  font-weight: 300;
  line-height: 26px;
  color: inherit
}

.search-result:hover {
  background-color: black;
  color: white;
}


.right-nav {
  box-sizing: border-box;
  text-align: right;
  padding-left: 35px;
  padding-right: 45px;
}

.nav-btn-wrapper {
  justify-content: space-between;
  display: flex;
  float: right;
}

.nav-btns {
  font-family: 'franklin-300', Arial;
  box-sizing: border-box;
  outline: 0;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 1.1em;
  padding-top: 31px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;
  height: 65px;
  margin-right: 40px;
  width: auto;
  max-width: none;
  display: inline-block;
  text-decoration: none;
  color: #666;
  z-index:10;
}

.nav-btns a {
  text-decoration: none;
}

.nav-btns:hover {
  border-bottom: 4px solid #666;
  cursor: pointer;
}
