// Recipes
.recipe-show-container {
  padding-top: 64px;
  max-width: 1000px;
  margin:0 auto;
  padding: 24px 30px;
}

.recipe-title-container {
  padding-top: 37px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
}

.recipe-title{
  width: 100%;
  font-family: 'cheltenham-300',Georgia,"Times New Roman",serif;
  font-weight: 300;
  text-align: left;
  text-decoration: none;
  font-size: 42px;
  letter-spacing: 1.6px;
  line-height: 45px;
  color: black;
  padding: 15px 0px 0px 0px;

}

.recipe-yield-time {
  font-weight: 500;
  color: #222;
  font-family: 'franklin-500',Arial,Helvetica,sans-serif;
  font-size: 15px;
  letter-spacing: .5px;
  display: block;
  float: left;
  line-height: 19px;
  width: calc(100% - 60px);
}

.recipe-description {
  color: #222;
  font-family: Georgia,"Times New Roman",serif;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-size: 17.25px;
  font-weight: 200;
  line-height: 1.4;
  padding-right: 30px;
}

.author {
  font-family: 'franklin-700',Georgia,"Times New Roman",serif;
  text-align: left;
  font-size: 16px;
  letter-spacing: 1.13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000;
  box-sizing: border-box;
  outline: 0;
  padding-bottom: 23px;
}

.recipe-sub-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 23px;
}

.time-yield-label {
  line-height: 19px;
  color: #000;
  display: block;
  float: left;
  font-family: 'karnak-400',Georgia,"Times New Roman",serif;
  font-size: 12px;
  letter-spacing: 1.6px;
  margin-top: 2px;
  text-transform: uppercase;
  width: 60px;
  padding-bottom: 10px;
}

.save-recipe-btn {
  text-align: left;
  box-sizing: border-box;
  outline: 0;
  background-color: #e33d26;
  border-radius: 3px;
  border-right: 1px solid #e65f51;
  bottom: 20px;
  color: #fff;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 1.4rem;
  font-weight: 500;
  height: 34px;
  width: 170px;
  letter-spacing: .6px;
  line-height: 36px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.print-recipe-btn {
  text-align: center;
  background-color: #e33d26;
  border-radius: 3px;
  border-right: 1px solid #e65f51;
  bottom: 20px;
  color: #fff;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 1.4rem;
  font-weight: 500;
  height: 34px;
  width: 45px;
  letter-spacing: .6px;
  line-height: 36px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 6px;
  margin-right: 3px;
}

.save-recipe-btn:hover {
  background-color: #be1e08;
  color: #fff;
}

.print-recipe-btn:hover {
  background-color: #be1e08;
  color: #fff;
}

.save-recipe-icon {
  height: 18px;
  width: 12px
}

.save-btn-text {
  font: 13px 'franklin-400',Arial,Helvetica,sans-serif;
  text-align: left;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: .6px;
  line-height: 36px;
  box-sizing: border-box;
  outline: 0;
}

.save-btn-text.saved {
  margin-right: 88px;
}

.yeild-time-container {
  display: flex;
  flex-direction: column;
  width: 70%
}

.recipe-sub-title-btn-container {
  display: flex;
  justify-content: space-evenly;
}

.recipe-image-container {
  box-sizing: border-box;
  outline: 0;
  position: relative;
  padding-top: 7px;
  max-width: 600px;
  text-align: right;
  float: right;
  margin: 0 auto 20px 30px;
  width: 62.63158%;
  margin-bottom: 25px;
}

.recipe-description-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 0px 70px 0px;
  border-bottom: 2px solid black;
}

.recipe-image {
  width: 60%;
  border-radius: 3px;
}

.recipe-instructions-container{
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  justify-content: space-between;
  width: 100%
}

.recipe-ingredients-list-container {
  width: 31%
}

.recipe-prepsteps-list {
  width: 62.5%
}

.ingredient-quantity {
  text-align: right;
  font-family: 'franklin-700',Arial,Helvetica,sans-serif;
  font-size: 15px;
  color: black;
  margin-bottom: 15px;
  
}

.ingredient-desc {
  text-align: left;
  font-family: 'franklin-700',Arial,Helvetica,sans-serif;
  font-size: 15px;
  color: black;
}

.ingredient-quantity {
  text-align: right;
}

.prep-step {
  color: #000;
  font-family: 'franklin-700',Arial,Helvetica,sans-serif;
  line-height: 1;
  padding-bottom: 10px;
  font-size: 17.5px
}

.prep-step-desc {
  color: #000;
  font-family: 'franklin-500',Arial,Helvetica,sans-serif;
  line-height: 1;
  padding-bottom: 10px;
  font-size: 17.5px;
  line-height: 1.45em;
  margin-bottom: 30px;
}

.ingredient {
  display: grid; 
  margin-bottom: .5rem;
  grid-template-columns: 73px 1fr;
  font-family: 'franklin-700',Arial,Helvetica,sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 18.6px;
  vertical-align: top
}

.ingredient > span:first-child {
  padding-right: 1rem;
  text-align: right;
}

.instructions-header {
  line-height: 19px;
  color: #000;
  display: block;
  float: left;
  font-family: 'karnak-400',Georgia,"Times New Roman",serif;
  font-size: 12px;
  letter-spacing: 1.6px;
  margin-top: 2px;
  text-transform: uppercase;
  width: 100%;
  padding-bottom: 10px;
}

.cooked-module {
  color: #222;
  font: 12px "franklin-500",Arial,Helvetica,sans-serif;
  font-weight: 500;
  box-sizing: border-box;
  outline: 0;
  background: #f2f3ef;
  font-size: 12.5px;
  padding: 14px;
  position: relative;
  margin: 50px 0 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.cooked-label {
  color: #222;
  cursor: pointer;
  font-size: 1em;
  font: 15px 'franklin-700',Arial,Helvetica,sans-serif;
  box-sizing: border-box;
  outline: 0;
  font-weight: 700;
  margin-right: 10px; 
}


.cooked-icon {
  width: 22px;
  height: 18px;
  margin-right: 4.75px;
}

.cooked-text {
  color: #222;
  font: 15px 'franklin-300',Arial,Helvetica,sans-serif;
  font-weight: 300
}

.add-glist-btn {
  background-color: #fff;
  border: 1px solid #222;
  border-radius: 3px;
  color: #222;
  cursor: pointer;
  display: inline-block;
  font-family: 'franklin-300',Arial,Helvetica,sans-serif;
  font-size: 15px;
  margin-left: 49px;
  margin-top: 12px;
  padding: 10.5px 10px 10.5px;
  width: 177.16px;
  height: 40px;
  cursor: pointer;
}

.add-glist-btn:hover {
  background-color: #222;
  color: #fff;
}

.comment-wrap {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  box-sizing: border-box;
  outline: 0;
  overflow: hidden;
  padding: 30px 0 15px 15px;
  width: 100%;
  border-top: 1px solid #f4f4f4;
}

.comment-contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.comment-avatar {
  height: 40px;
  width: 40px;
}

.comment-body{
  color: #222;
  font: 'franklin-500',Arial,Helvetica,sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  margin-top: 5px;
  white-space: pre-line;
  word-wrap: break-word;
  width: 100%;
}

.comment-textarea {
  height: 20px;
  width: 100%;
  border: 1px solid #ddd;
  cursor: text;
  font: 16px 'franklin-300',Arial,Helvetica,sans-serif;
  padding: 13px 10px 15px 15px;
  transition: all .33s ease-in-out;
}

.comment-textarea-editing {
  font: 16px 'franklin-300',Arial,Helvetica,sans-serif;
  height: 200px;
  padding-right: 50p;
  width: 100%;
  line-height: 20px;
  outline: 0;
  padding: 13px 10px 15px 15px;
  resize: none;
  transition: all .33s ease-in-out;
}

.comment-header {
  width: 100%;
}

.comment-author-nickname {
  font: 14px 'franklin-700',Arial,Helvetica,sans-serif;
  color: #222;
  display: inline-block;
  font-weight: 700;
}

.comment-time {
  border-left: 1px solid #ccc;
  color: #767676;
  display: inline-block;
  height: 12px;
  line-height: 12px;
  margin-left: 8px;
  padding-left: 10px;
}

.add-comment-btn {
  box-sizing: border-box;
  outline: 0;
  -webkit-appearance: none;
  border-radius: 0;
  background: 0 0;
  border: 0;
  color: #e33d26;
  cursor: pointer;
  display: inline-block;
  font-family: 'franklin-500',Arial,Helvetica,sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 0 10px;
  text-align: center;
  border-left: 1px solid #ccc;
}

.add-comment-btn-disabled {
  box-sizing: border-box;
  outline: 0;
  -webkit-appearance: none;
  border-radius: 0;
  background: 0 0;
  border: 0;
  color: #767676;
  pointer-events: none;
  display: inline-block;
  font-family: 'franklin-500',Arial,Helvetica,sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 0 10px;
  text-align: center;
  border-left: 1px solid #ccc;
}

.cancel-comment-btn {
  box-sizing: border-box;
  outline: 0;
  -webkit-appearance: none;
  border-radius: 0;
  background: 0 0;
  border: 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: 'franklin-500',Arial,Helvetica,sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 0 10px;
  text-align: center;
}

.comment-action-container {
  text-align: right;
  transition: all .33s ease-in-out;
}

.nutr-header {
  padding-top: 45px;
}

.nutr-icon {
  height: 15px;
  width: 15px;
  margin-left: 49px;
  cursor: pointer;
}

.nutr-header-text {
  cursor: pointer;
  color: #e33d26;
  padding-left: 7px;
  font-family: 'franklin-300',Arial,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 200;
  position: absolute;
  display: inline;
}

.nutr-list {
  display: block;
  position: relative;
  font-family: 'franklin-300',Arial,Helvetica,sans-serif;
  color: black;
  transition: opacity .33s ease-in-out;
  background-color: #fff;
  width: 265px;
  height: auto;
  left: 48px;
  padding: 17px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.2);
  font-size: 15px;
  font-weight: 300;
  line-height: 1.2;
  overflow: visible;
  right: auto;
  z-index: 9;
  opacity: 1;
}

.nutr-list > li {
  font-family: 'franklin-300',Arial,Helvetica,sans-serif;
  color: black;
}

.nutr-hidden {
  opacity: 0;
}

.nutrition-note {
  font-size: 13px;
}

.nutr-index-header {
  font-weight: 700;
  font-size: 15px;
  font-family: 'franklin-700';
  color: black;
}

.nutrition-attribution {
  font-size: 13px;
  font-weight: 300;
  margin-top: 10px;
  text-align: center;
}

#edamam-logo {
  height: 20px;
  width: 90px;
  vertical-align: middle;
}

.comment-action-container-hidden {
  display: none;
}

.delete-comment-btn {
  box-sizing: border-box;
  outline: 0;
  -webkit-appearance: none;
  border-radius: 0;
  background: 0 0;
  border: 0;
  color: #e33d26;
  cursor: pointer;
  display: inline-block;
  font-family: 'franklin-500',Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 0px 0px 1px;
  text-align: center; 
}

.loading-show {
  min-height: 100vh;
}

.recipe-metadata-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 20px;
}

.rating-total {
  color: #222;
  font: 12px 'franklin-400',Arial,Helvetica,sans-serif;
  line-height: 1.67em;
  font-size: 15px;
  text-align: left;
  box-sizing: border-box;
  outline: 0;
  display: inline-block;
  font-weight: 500;
  position: relative;
  z-index: 160;
}

.star-rating {
  padding-left: 10px;
  margin-top: -4px;
}

.recipe-rating-avg-stars > img {
  height: 20px;
  width: 20px;
  padding: 0px 2px;
  margin-bottom: -5px;
  vertical-align: middle;
}
