// Recipes
.recipe-show-container {
  padding-top: 64px;
  max-width: 1000px;
  margin:0 auto;
}

.recipe-title-container {
  padding-top: 37px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
}

.recipe-title{
  width: 100%;
  font-family: 'cheltenham-300',Georgia,"Times New Roman",serif;
  font-weight: 300;
  text-align: left;
  text-decoration: none;
  font-size: 42px;
  letter-spacing: 1.6px;
  line-height: 45px;
  color: black;
  padding: 15px 0px 0px 0px;

}

.recipe-yield-time {
  font-weight: 500;
  color: #222;
  font-family: 'franklin-500',Arial,Helvetica,sans-serif;
  font-size: 15px;
  letter-spacing: .5px;
  display: block;
  float: left;
  line-height: 19px;
  width: calc(100% - 60px);
}

.recipe-description {
  color: #222;
  font-family: Georgia,"Times New Roman",serif;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-size: 17.25px;
  font-weight: 200;
  line-height: 1.4;
  padding-right: 15px;
}

.author {
  font-family: 'franklin-700',Georgia,"Times New Roman",serif;
  text-align: left;
  font-size: 16px;
  letter-spacing: 1.13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000;
  box-sizing: border-box;
  outline: 0;
  padding-bottom: 23px;
}

.recipe-sub-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 23px;
}

.time-yield-label {
  line-height: 19px;
  color: #000;
  display: block;
  float: left;
  font-family: 'karnak-400',Georgia,"Times New Roman",serif;
  font-size: 12px;
  letter-spacing: 1.6px;
  margin-top: 2px;
  text-transform: uppercase;
  width: 60px;
  padding-bottom: 10px;
}

.save-recipe-btn {
  text-align: left;
  box-sizing: border-box;
  outline: 0;
  background-color: #e33d26;
  border-radius: 3px;
  border-right: 1px solid #e65f51;
  bottom: 20px;
  color: #fff;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 1.4rem;
  font-weight: 500;
  height: 34px;
  width: 170px;
  letter-spacing: .6px;
  line-height: 36px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.print-recipe-btn {
  text-align: center;
  background-color: #e33d26;
  border-radius: 3px;
  border-right: 1px solid #e65f51;
  bottom: 20px;
  color: #fff;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 1.4rem;
  font-weight: 500;
  height: 34px;
  width: 45px;
  letter-spacing: .6px;
  line-height: 36px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 5px;
}

.save-recipe-btn:hover {
  background-color: #be1e08;
  color: #fff;
}

.print-recipe-btn:hover {
  background-color: #be1e08;
  color: #fff;
}

.save-recipe-icon {
  height: 18px;
  width: 12px;
}

#save-btn-text {
  font: 13px 'franklin-400',Arial,Helvetica,sans-serif;
  text-align: left;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: .6px;
  line-height: 36px;
  box-sizing: border-box;
  outline: 0;
  // padding-left: 5px;
}


// .save-recipe-btn span.icon {
//   background: url("save-white-outline.svg") no-repeat;
// }

.yeild-time-container {
  display: flex;
  flex-direction: column;
  width: 70%
}

.recipe-sub-title-btn-container {
  display: flex;
  justify-content: space-evenly;
}

.recipe-image-container {
  box-sizing: border-box;
  outline: 0;
  position: relative;
  padding-top: 7px;
  max-width: 600px;
  text-align: right;
  float: right;
  margin: 0 auto 20px 30px;
  width: 62.63158%;
  margin-bottom: 25px;
}

.recipe-description-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 0px 90px 0px;
  border-bottom: 2px solid black;
}

.recipe-image {
  width: 60%;
  border-radius: 3px;
}

.recipe-instructions-container{
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}

.recipe-ingredients-list-container {
  width: 33%
}

.recipe-prepsteps-list {
  width: 66%
}

.ingredient-quantity {
  text-align: right;
  font-family: 'franklin-700',Arial,Helvetica,sans-serif;
  font-size: 15px;
  color: black;
  
}

.ingredient-desc {
  text-align: left;
}

.ingredient-quantity {
  text-align: right;
}
// .ingredients-wrap {
//   color: #222;
//   font-family: 'franklin-300',Arial,Helvetica,sans-serif;
//   font-weight: 500;
//   box-sizing: border-box;
//   outline: 0;
//   display: block;
//   float: left;
//   margin-bottom: 0;
//   padding-right: 1em;
//   width: 32.31579%;
// }

.ingredient {
  display: grid; 
  margin-bottom: .5rem;
  grid-template-columns: 76px 1fr;
  display: inline-block;
  font-family: 'franklin-700',Arial,Helvetica,sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 18.6px;
  vertical-align: top;
  padding-right: 100px
}

.ingredient > span:first-child {
  padding-right: 1rem;
  text-align: right;
}

.instructions-header {
  line-height: 19px;
  color: #000;
  display: block;
  float: left;
  font-family: 'karnak-400',Georgia,"Times New Roman",serif;
  font-size: 12px;
  letter-spacing: 1.6px;
  margin-top: 2px;
  text-transform: uppercase;
  width: 60px;
}
