html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Libre Franklin', Arial;
  vertical-align: baseline;
  text-decoration: none;
  color: #666666;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

body {
  line-height: 1.5;
}

ol, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%
}