.search-results-container {
  background-color: #f2f3ef;
  text-align: left;
  padding: 80px 93px 0px 93px;
  height: 100vh;
}

.saved-recipe-index-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin:0 auto;
  padding-left: 15px;
  padding-right: 15px;
  margin:0 auto;
}

.recipe-card-container {
  // animation: nytc---cardbase---fadeIn .4s ease-out;
  background: #fff;
  border: 1px solid #e6e6e6;
  float: left;
  height: 278px;
  margin: 10px;
  position: relative;
  width: 235px;
  text-align: left;
  // margin: 0px 20px
}

.recipe-card-container:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.card-title {
  font-family: 'franklin-700', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 17px;
  color: #222;
  line-height: 1.06em;
}

.card-byline {
  font-family: 'franklin-300', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 13px;
  letter-spacing: .3px;
  line-height: 1.14em;
  padding-top: 3px;
  color: #222;
}

.card-cook-time {
  bottom: 12px;
  color: #767676;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: .3px;
  line-height: 1em;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  // width: 80%;
}

.search-results-container > h3 {
  font-family: 'franklin-700', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 24px;
  color: #222;
}

.card-base {
  height: 106px;
  padding: 12px 12px 6px;
}

.saved-recipe-icon {
  height: 19px;
  width: 15px;
  bottom: 12px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  margin-left: 196px;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: #ccc;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}