/* Splash */
.outer {
  background-color: #f2f3ef;
  padding-bottom: 40px;
}

.rotd-container {
  position: relative;
  padding-bottom: 40px;
}

.splash-img {
  height: 85vh;
  width: 100%;
  object-fit: cover;
}


#rotd-card{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  width: 260px;
  height: 201px;
  background: white;
  position: absolute;
  right: 85px;
  bottom: 81px;
  text-align: center;
  cursor: pointer;
  padding: 52px 30px 30px;
  border-radius: 3px;
}

#rotd-card:hover{
  border: 0.1px solid #e6e6e6;
  box-shadow: 0 0 15px rgba(0,0,0,.3);
}

#rotd-label{
  box-sizing: border-box;
  outline: 0;
  font-size: 12px;
  background-color: #e33d26;
  color: #fff;
  font-family: 'karnak-400';
  letter-spacing: 1.1px;
  text-align: center;
  text-transform: uppercase;
  z-index: 5;
  border-radius: 54px;
  height: 108px;
  line-height: 1.5rem;
  margin: 0;
  padding: 28px 10px 0;
  position: absolute;
  white-space: nowrap;
  width: 108px;
  right: 33px;
  bottom: 310px;
}

#rotd-title {
  font: 34px 'cheltenham-300',Georgia,"Times New Roman",serif;;
  color: #222;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
  font-weight: 300;
  letter-spacing: .5px;
  margin-bottom: 10px;
  line-height: 3.8rem;
}

#rotd-description {
  font: 22px 'cheltenham-300',Georgia,"Times New Roman",serif;
  color: #222;
  letter-spacing: .6px
}

#rotd-byline {
  font: 12px 'franklin-700',Arial,Helvetica,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.8rem;
  color: #222
}

.rotm-container {
  border-top: 7px solid #222;
  padding-top: 12px;
}

.carousel-container {
  padding-top: 19px;
}

.what-to-cook {
  text-align: center;
  text-transform: none;
  font-family: 'karnak-400',Georgia,"Times New Roman",serif;
  font-weight: 400;
  letter-spacing: .3px;
  font-size: 38px;
  line-height: 4rem;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
  color: #222;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 42px;
} 

.recipes-week-of {
  color: #222;
  font: 12px 'franklin-500',Arial,Helvetica,sans-serif;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin-top: 5px;
  text-transform: uppercase;
  width: 100%;
  display: block;
  letter-spacing: 1.3px;
  line-height: 1.2;
  margin-bottom: 50px;
}

.rotm-container {
  text-align: left
}
.section-title {
  color: #222;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
  font-family: "cheltenham-300",Georgia,"Times New Roman",serif;
  line-height: 1.2;
  font-weight: 200;
  letter-spacing: .5px;
  font-size: 30px;
}

.section-intro {
  color: #999;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
  font-family: "cheltenham-300",Georgia,"Times New Roman",serif;
  line-height: 1.2;
  font-weight: 200;
  letter-spacing: .5px;
  font-size: 30px;
}

.recipe-index-link {
  margin-top: 50px;
  text-align: center
}

.recipe-index-link {
  color: #e33d26;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
  font-family: "karnak-400",Georgia,"Times New Roman",serif;
  line-height: 1.2;
  font-weight: 100;
  letter-spacing: .5px;
  font-size: 30px;
  padding-top: 50px;
}